.card {
    width:90%;
    /* transform:rotate(-4deg); */
    border-radius: .5rem;
    box-shadow: 5px 5px 5px 5px rgba(127, 130, 133, .15);
    margin: 5rem 2rem;
    background-color: white;
    padding: 2rem;
}
.wraper {
    /* transform: rotate(4deg); */
    margin: 2rem;
    display: flex;
    flex-direction: column;
}
.card-content {
    display: flex;
    flex-direction: row;
}
.card-content li{
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.opcion {
    margin: 1rem;
}
.opcion.active {
    border-color: blue;
    border-style: dashed;
    border-width: 3px;
}
h2.title {
    color: rgb(21, 117, 187);
    border-bottom: rgb(21, 117, 187);
    border-bottom-style: solid;
}
.card-content {
    color: rgb(127, 130, 133);
    text-align: center;
}
.card-content img {
    height: 10rem;
    width: auto;
}
.card-content p{
    font-size: 1rem;
    margin: 1rem 2rem;
}